{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <h1 class="mb-6">Login | <a href="{{ url_for('auth.register') }}">Register</a></h1>
    <form method="post" autocomplete="off">
      <fieldset>
        <legend hidden>Log in</legend>
        {{ form.hidden_tag() }}
        <div class="mb-3 d-flex flex-row flex-items-center">
          {{ form.email.label(class="mr-6 col-1") }}
          {{ form.email(class="form-control", size="25") }}
        </div>
        <div class="mb-3 d-flex flex-row flex-items-center">
          {{ form.password.label(class="mr-6 col-1") }}
          {{ form.password(class="form-control", size="25") }}
        </div>
        <div class="mb-4 mt-4 d-flex flex-row flex-items-center">
          {{ form.remember_me.label(class="mr-6 col-1") }}
          {{ form.remember_me(class="ml-1", checked="checked") }}
        </div>
        {{ form.submit(class="btn") }}
      </fieldset>
    </form>
    <p class="mt-6 text-italic">* Forgot Email or Password? Try contact nightttt7@gmail.com</p>
    <p class="text-italic">** Nothing is guaranteed</p>
  </div>
</div>
{% endblock %}
