{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <h1 class="mb-6"><a href="{{ url_for('auth.login') }}">Login</a> | Register</h1>
    <form method="post" autocomplete="off">
      <fieldset>
        <legend hidden>Register a account</legend>
        {{ form.hidden_tag() }}
        <div class="mb-3 d-flex flex-row flex-items-center">
          {{ form.username.label(class="mr-3 col-1") }}
          {{ form.username(class="form-control", size="20") }}
        </div>
        <div class="mb-3 d-flex flex-row flex-items-center">
          {{ form.email.label(class="mr-3 col-1") }}
          {{ form.email(class="form-control", size="20", type="email") }}
        </div>
        <div class="mb-3 d-flex flex-row flex-items-center">
          {{ form.password.label(class="mr-3 col-1") }}
          {{ form.password(class="form-control", size="20") }}
        </div>
        {{ form.submit(class="btn") }}
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
