{% extends "base.html" %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <h1>About | <a href="{{ url_for('CV.timeline') }}">Timeline</a></h1>
    <div class="markdown-body pt-4 mt-4 pb-2 mb-6">
      <ul>
      <li>Qingqi Shi</li>
      <li>FRM</li>
      <li>Email: nightttt7@gmail.com</li>
      </ul>
      <h3 id="education">EDUCATION</h3>
      <ul>
      <li>BI Norwegian Business School  <em>(2018 - 2020)</em>
      <ul>
      <li>MSc in Quantitative Finance</li>
      </ul>
      </li>
      <li>Shanghai University of Finance and Economics  <em>(2011 - 2015)</em>
      <ul>
      <li>International Business </li>
      </li>
      </ul>
      </li>
      </ul>
      <h3 id="work-experence">WORK</h3>
      <ul>
      <li>Seamoney, Singapore <em>(2021 - now)</em>
      <ul>
      <li>Associate, Credit Risk</li>
      </ul>
      </li>
      <li>BI Norwegian Business School, Oslo <em>(2019 - 2020)</em>
      <ul>
      <li>Research Assistant</li>
      </ul>
      </li>
      <li>MSFinance, Chongqing <em>(2018)</em>
      <ul>
      <li>Credit Risk Analyst</li>
      </ul>
      </li>
      <li>TaoMicro Investment, Chongqing <em>(2016 - 2017)</em>
      <ul>
      <li>Risk Analyst</li>
      </ul>
      </li>
      <li>Industrial and Commercial Bank of China, Shanghai <em>(2015 - 2016)</em>
      <ul>
      <li>Bank Teller</li>
      </ul>
      </li>
      </ul>
      <h3 id="others">Interests</h3>
      <ul>
      <li>Risk Management (Credit/Market/Model)</li>
      <li>Quant</li>
      <li>Python</li>
      <li>Algo</li>
      <li>Web</li>
      <li>Punk</li>
      <li>Skateboard</li>
      <li>Aoe2</li>
      <li>Hearthstone</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}