{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <h1 class="mb-3 h1"><a href="{{ url_for('manage.index') }}">Manage</a></h1>
    <h2 class="mb-3 h2">Users</h2>
    {% for user in users %}
    <p class="f3">
      <b class="text-bold text-blue">{{ user.username }}</b>
      {% if user.role.name == 'Administrator' %}
      is {{ user.role.name }}
      {% else %}
      is {{ user.role.name }}, 
        {% if user.role.name == 'Keeper' %}
        <a href="{{ url_for('manage.set_permision', id=user.id, role_name='Bloger') }}">change to Bloger</a>
        {% endif %}
        {% if user.role.name == 'Bloger' %}
        <a href="{{ url_for('manage.set_permision', id=user.id, role_name='Keeper') }}">change to Keeper</a>
        {% endif %}
      {% endif %}
      </p>
    {% endfor %}
  </div>
</div>
{% endblock %}
