{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">{{ post.title }}</h1>
    <p class="lead">[by {{ post.author.username }}]</p>
    {% if current_user == post.author %}
    <p class="lead"><a href="{{ url_for('Blog.edit', id=post.id) }}">edit</a></p>
    {% endif %}
    <hr class="my-4">
    <p>{% if post.body_html %} {{ post.body_html | safe }} {% else %} {{ post.body }} {% endif %}</p>
  </div>
</div>
{% endblock %}
