{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <h1 class="h3">Edit this post</h1>
    <form class="mt-3" method="post" autocomplete="off">
      <fieldset>
        <legend hidden>Edit a post</legend>
        {{ form.hidden_tag() }}
        <div>
          <div>
            {{ form.title.label() }}
          </div>
          <div class="mb-3">
            {{ form.title(class="form-control input-block") }}
          </div>
        </div>
        <div>
          <div>
            {{ form.tag.label() }}
          </div>
          <div class="mb-3">
            {{ form.tag(class="form-control input-block") }}
          </div>
        </div>
        <div>
          <div>
            {{ form.body.label() }}
          </div>
          <div class="mb-3">
            {{ form.body(class="form-control input-block", autofocus=autofocus) }}
          </div>
        </div>
        {{ form.submit(class="btn") }}
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}