{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <div class="d-inline">
      <div class="d-inline-block mr-2">
        <h1 class="h1">{{ post.title }}</h1>
      </div>
      {% if current_user == post.author %}
      <div class="d-inline-block mr-2">
        <a href="{{ url_for('Blog.edit', id=post.id) }}">
          {% include 'svgs/_svg_pencil.html' %}
        </a>
      </div>
      {% endif %}
      {% if current_user.is_administrator() or current_user == post.author %}
      <div class="d-inline-block">
        <a href="{{ url_for('Blog.delete', id=post.id) }}">
          {% include 'svgs/_svg_trashcan.html' %}
        </a>
      </div>
      {% endif %}
      <div>
        <p class="f5">
          <a href="{{ url_for('main.sameauthor', author_id=post.author_id) }}" class="link-gray-dark f5">{{ post.author.username }}</a>@{{ post.timestamp.strftime("%Y-%m-%d")}}
          <a href="{{ url_for('main.sametag', tag=post.tag) }}" class="link-gray-dark f5">#{{ post.tag }}</a></p>
        </p>
      </div>
    </div>
    <div class="markdown-body pt-4 mt-4 pb-2 mb-6">
    {% if post.body_html %} {{ post.body_html | safe }} {% else %} {{ post.body }} {% endif %}
    </div>
    <div class="mt-6 pt-2">
      <div class="d-flex flex-row flex-items-center">
        <div class="h3 mr-1">Comments</div>
        <div class="tooltipped tooltipped-ne" aria-label="The comments in yellow are from anonymous users, in blue are from authenticated users">
          {% include 'svgs/_svg_O_i.html' %}
        </div>
      </div>
      <div class="ml-2 mt-3">
        {% for comment in comments %}
        <p>
          {% if comment.is_user %}
          <b class="text-blue tooltipped tooltipped-ne" aria-label="Authenticated">{{ comment.name }}</b>
          {% else %}
          <b class="text-yellow tooltipped tooltipped-ne" aria-label="Anonymous">{{ comment.name }}</b>
          {% endif %}
          @{{ comment.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}:
          {% if current_user.is_administrator() or current_user == post.author %}
          <a href="{{ url_for('Blog.deletecomment', id=post.id, id_c=comment.id) }}">
            {% include 'svgs/_svg_trashcan_small.html' %}
          </a>
          {% endif %}
        </p>
        <p>
          {{ comment.body }}
        </p>
        {% endfor %}
      </div>
      {% if post.comments.count() > 8 %}
      <div class="paginate-container">
        {{ macros.pagination_widget(pagination, 'Blog.read', id=post.id) }}
      </div>
      {% endif %}
      <!-- TODO: not show form for not current_user.is_authenticated -->
      {% if current_user.is_authenticated %}
      <div class="mt-6">
        <form method="post" autocomplete="off">
          <fieldset>
            <legend class="h3 mb-3">Add your comment</legend>
            {{ form_c.hidden_tag() }}
            <div>
              <div>
                {{ form_c.name.label() }}
              </div>
              <div class="mb-3">
                {{ form_c.name(class="form-control", size="10") }}
              </div>
            </div>
            <div>
              <div>
                {{ form_c.body.label() }}
              </div>
              <div class="mb-3">
                {{ form_c.body(class="form-control input-block", placeholder="Markdown not supported here") }}
              </div>
            </div>
            {{ form_c.submit(class="btn") }}
          </fieldset>
        </form>
      </div>
      {% else %}
      <div class="mt-6">
        <p class="h3 mb-3">
          <a href="{{ url_for('auth.login') }}" class="text-blue">Log in</a> to add your comment
        </p>
        <p class="h3 mb-3">
          Don't have an account? <a href="{{ url_for('auth.register') }}" class="text-blue">register here</a>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
