{% extends "base.html" %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <p class="h2"><a href="{{ url_for('timesheet.index') }}" class="text-blue">Return</a></p>
    <p class="h1 text-green">Archives</p>
    <table>
      <tr>
        <td></td>
        <td class="f3 text-bold pr-3">Item</td>
        <td class="f3 text-bold pr-3">Start</td>
        <td class="f3 text-bold pr-3">Finish</td>
      </tr>
      {% for archive in archives %}
      <tr>
        <td>
          <a href="{{ url_for('timesheet.undo', id=archive.id) }}" class="pr-2">
            {% include 'svgs/_svg_checked.html' %}
          </a>
        </td>
        <td class="f3 pr-3">
          {{ archive.item }}
        </td>
        <td class="f3 pr-3">
          {{ archive.timestamp_start.strftime('%Y-%m-%d') }}
        </td>
        <td class="f3 pr-3">
          {{ archive.timestamp_end.strftime('%Y-%m-%d') }}
        </td>
        <td>
          <a href="{{ url_for('timesheet.delete_todo', id=archive.id) }}">
            {% include 'svgs/_svg_trashcan.html' %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}