{% extends "base.html" %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-md-6 ml-md-6 mr-md-6 mb-6 d-flex flex-column flex-md-row">
    <div class="col-12 col-md-5 mr-3 mb-md-6">
      <div class="border border-black-fade bg-blue-light">
        <div class="ml-4 mr-2 mt-3 mb-8">
          <form method="post">
            <fieldset>
              <legend hidden>Add todo</legend>
              {{ form_add_todo.hidden_tag() }}
              <div>
                <div>
                  {{ form_add_todo.todo_item.label() }}
                </div>
                <div class="mb-3 mr-6">
                  {{ form_add_todo.todo_item(class="form-control input-block") }}
                </div>
              </div>
              {{ form_add_todo.submit_todo(class="btn") }}
            </fieldset>
          </form>
          <div class="mt-4">
            {% if todos %}
            <p class="h1">Todo List</p>
            {% for todo in todos %}
            <div class="d-table">
              <div class="d-table-cell v-align-bottom">
                <a href="{{ url_for('timesheet.do', id=todo.id) }}">
                  {% include 'svgs/_svg_unchecked.html' %}
                </a>
              </div>
              <!-- only show days, timezone not considered; flask-moment can't be used in aria-label -->
              <div class="d-table-cell v-align-top tooltipped tooltipped-ne" aria-label="Start: {{ todo.timestamp_start.strftime('%Y-%m-%d') }}">
                <div class="f3">{{ todo.item }}</div>
              </div>
              <div class="d-table-cell v-align-bottom">
                <a href="{{ url_for('timesheet.delete_todo', id=todo.id) }}">
                  {% include 'svgs/_svg_trashcan.html' %}
                </a>
              </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if archives %}
            <p class="h2"><a href="{{ url_for('timesheet.archives') }}" class="text-green">Archives</a></p>
            {% for archive in archives %}
            <div class="d-table">
              <div class="d-table-cell v-align-bottom">
                <a href="{{ url_for('timesheet.undo', id=archive.id) }}">
                  {% include 'svgs/_svg_checked.html' %}
                </a>
              </div>
              <!-- only show days, timezone not considered; flask-moment can't be used in aria-label -->
              <div class="d-table-cell v-align-top tooltipped tooltipped-ne" aria-label="Start: {{ archive.timestamp_start.strftime('%Y-%m-%d') }} | Finish: {{ archive.timestamp_end.strftime('%Y-%m-%d') }}">
                <div class="f3">{{ archive.item }}</div>
              </div>
              <div class="d-table-cell v-align-bottom">
                <a href="{{ url_for('timesheet.delete_todo', id=archive.id) }}">
                  {% include 'svgs/_svg_trashcan.html' %}
                </a>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 ml-md-3 ml-0 mr-3 mb-6">
      <div class="border border-black-fade bg-red-light">
        <div class="ml-4 mr-2 mt-3 mb-8">
          {% if not time_statu %}
          <form method="post">
            <fieldset>
              <legend hidden>Start timelog</legend>
              {{ form_start_timelog.hidden_tag() }}
              <div>
                <div>
                  {{ form_start_timelog.project_start.label() }}
                </div>
                <div class="mb-3 mr-6">
                  {{ form_start_timelog.project_start(class="form-control", size="22") }}
                </div>
              </div>
              <div>
                <div>
                  {{ form_start_timelog.task_start.label() }}
                </div>
                <div class="mb-3 mr-6">
                  {{ form_start_timelog.task_start(class="form-control", size="22") }}
                </div>
              </div>
              {{ form_start_timelog.time_start_start(type="hidden") }}
              {{ form_start_timelog.submit_start(class="btn") }}
            </fieldset>
          </form>
          {% endif %}
          {% if time_statu %}
          <div>
            <p class="h1 pb-2">Current Task</p>
            <table >
              <tr>
                <td class="f3 text-bold pr-3">Project:</td>
                <td class="f3">
                  {{ timelog_current.project }}
                </td>
              </tr>
              <tr>
                <td class="f3 text-bold pr-3">Task:</td>
                <td class="f3">
                  {{ timelog_current.task }}
                </td>
              </tr>
              <tr>
                <td class="f3 text-bold pr-3">From:</td>
                <td class="f3">
                  {{ moment(timelog_current.timestamp_start).format('HH:mm') }}
                </td>
              </tr>
              {% if timelog_current.timestamp_end %}
              <tr>
                <td class="f3 text-bold pr-3">Plan to:</td>
                <td class="f3">
                  {{ moment(timelog_current.timestamp_end).format('HH:mm') }}
                </td>
              </tr>
              {% endif %}
              <tr>
                <td class="f3 text-bold pr-3">Duration:</td>
                <td class="f3" id="fromnow"></td>
            </table>
            <div class="mt-4 d-table ">
              <div class="d-table-cell tooltipped tooltipped-ne pl-6 pr-8" aria-label="Finish it!">
                <a href="{{ url_for('timesheet.finish', id=timelog_current.id) }}" >
                  {% include 'svgs/_svg_rocket.html' %}
                </a>
              </div>
            </div>
          </div>
          {% endif %}
          {% if timelog_finished %}
          <div class="mt-4">
            <p><a class="h1 text-green" href="{{ url_for('timesheet.timelog_finished') }}">Time Logs</a> <a class="h3 text-orange" href="{{ url_for('timesheet.timelog_stat') }}">Statistics</a></p>
            <table>
              <tr>
                <td class="f3 text-bold pr-2">Project</td>
                <td class="f3 text-bold pr-2">Task</td>
                <td class="f3 text-bold pr-2">Period</td>
              </tr>
              {% for timelog in timelog_finished %}
              <tr>
                <td class="f3 pr-3">
                  <a class="link-gray-dark" href="{{ url_for('timesheet.timelog_finished', project=timelog.project) }}">{{ timelog.project }}</a>
                </td>
                <td class="f3 pr-3">
                  <a class="link-gray-dark" href="{{ url_for('timesheet.timelog_finished', project=timelog.project, task=timelog.task) }}">{{ timelog.task }}</a>
                </td>
                <td class="f4 pr-3">
                  <a class="link-gray-dark" href="{{ url_for('timesheet.timelog_finished', date=timelog.timestamp_start.strftime('%Y-%m-%d')) }}">{{ moment(timelog.timestamp_start).format('MM-DD') }}</a> <time class="tooltipped tooltipped-ne" aria-label="{{ timelog.time_delta_seconds//3600 }}h {{ timelog.time_delta_seconds//60%60 }}m">{{ moment(timelog.timestamp_start).format('HH:mm') }}~{{ moment(timelog.timestamp_end).format('HH:mm') }}</time>
                </td>
                <td>
                  {% if time_statu %}
                  <div>
                    {% include 'svgs/_svg_play_gray.html' %}
                  </div>
                  {% else %}
                  <a href="{{ url_for('timesheet.start_finished', id=timelog.id) }}" class="">
                    {% include 'svgs/_svg_play_green.html' %}
                  </a>
                  {% endif %}
                </td>
                <td>
                  <a href="{{ url_for('timesheet.delete_timelog', id=timelog.id) }}">
                    {% include 'svgs/_svg_trashcan.html' %}
                  </a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% endif %}
          {% if timelog_plan %}
          <div class="mt-4">
            <p class="h1"><a href="{{ url_for('timesheet.timelog_plan') }}" class="text-green">Time Plans</a></p>
            <table>
              <tr>
                <td class="f3 text-bold pr-2">Project</td>
                <td class="f3 text-bold">Task</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="f3 text-bold">Period</td>
              </tr>
              {% for timelog in timelog_plan %}
              <tr>
                <td class="f3 pr-2">
                  {{ timelog.project }}
                </td>
                <td class="f3">
                  {{ timelog.task }}
                </td>
                <td class="tooltipped tooltipped-ne" aria-label="Finish it!">
                  <a href="{{ url_for('timesheet.finish_plan', id=timelog.id) }}" >
                    {% include 'svgs/_svg_rocket.html' %}
                </td>
                <td>
                  {% if time_statu %}
                  <div>
                    {% include 'svgs/_svg_play_gray.html' %}
                  </div>
                  {% else %}
                  <a href="{{ url_for('timesheet.start_planed_keep', id=timelog.id) }}" class="tooltipped tooltipped-ne" aria-label="start and keep">
                    {% include 'svgs/_svg_play_green.html' %}
                  </a>
                  {% endif %}
                </td>
                <td>
                  {% if time_statu %}
                  <div>
                    {% include 'svgs/_svg_play_gray.html' %}
                  </div>
                  {% else %}
                  <a href="{{ url_for('timesheet.start_planed', id=timelog.id) }}" class="tooltipped tooltipped-ne" aria-label="start and delete">
                    {% include 'svgs/_svg_play_blue.html' %}
                  </a>
                  {% endif %}
                </td>
                <td class="f4 tooltipped tooltipped-ne" aria-label="{{ timelog.time_delta_seconds//3600 }}h {{ timelog.time_delta_seconds//60%60 }}m">
                  {{ moment(timelog.timestamp_start).format('MM-DD HH:mm') }}~{{ moment(timelog.timestamp_end).format('HH:mm') }}
                </td>
                <td>
                  <a href="{{ url_for('timesheet.delete_timelog', id=timelog.id) }}">
                    {% include 'svgs/_svg_trashcan.html' %}
                  </a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% endif %}
          <form class="mt-3" method="post">
            <fieldset>
              <legend hidden>Add timelog</legend>
              {{ form_add_timelog.hidden_tag() }}
              <div>
                <div>
                  {{ form_add_timelog.project_add.label() }}
                </div>
                <div class="mb-3 mr-6">
                  {{ form_add_timelog.project_add(class="form-control", size="22") }}
                </div>
              </div>
              <div>
                <div>
                  {{ form_add_timelog.task_add.label() }}
                </div>
                <div class="mb-3 mr-6">
                  {{ form_add_timelog.task_add(class="form-control", size="22") }}
                </div>
              </div>
              <div>
                <div>
                  {{ form_add_timelog.time_start_add.label() }}
                </div>
                <div class="mb-3 mr-6">
                  {{ form_add_timelog.time_start_add(class="form-control", size="18") }}
                </div>
              </div>
              <div>
                <div>
                  {{ form_add_timelog.time_end_add.label() }}
                </div>
                <div class="mb-3 mr-6">
                  {{ form_add_timelog.time_end_add(class="form-control", size="18") }}
                </div>
              </div>
              {{ form_add_timelog.utc_offset(type="hidden") }}
              {{ form_add_timelog.submit_add(class="btn") }}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}

{% if time_statu %}
<script>
function pad(n, width, z) {
  z = z || '0';
  n = n + '';
  return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
}

function refreshDuration () {
  start =  moment.utc("{{ timelog_current.timestamp_start.strftime('%Y-%m-%d %H:%M:%S') }}", "Y-MM-DD HH:mm:ss");
  fromnow = moment.duration(moment().diff(start));
  document.getElementById("fromnow").innerHTML = pad(Math.floor(fromnow.asHours()), 2).toString()+":"+pad(fromnow.minutes(), 2).toString()+":"+pad(fromnow.seconds(), 2).toString();
  setTimeout(refreshDuration, 1000);
}

refreshDuration ()
</script>
{% endif %}

{% if not time_statu %}
<script>
  function refreshStartTime () {
    document.getElementById("time_start_start").value = moment.utc().format("Y-MM-DD HH:mm:ss")
    setTimeout(refreshStartTime, 30000);
  }

  refreshStartTime ()
  </script>
{% endif %}

<script>
function setDefaultTime () {
  document.getElementById("time_start_add").value = moment().format("Y-MM-DD HH:mm");
  document.getElementById("time_end_add").value = moment().format("Y-MM-DD HH:mm");
}

function setUtcOffset () {
  document.getElementById("utc_offset").value = moment().utcOffset();
}

setDefaultTime ()
setUtcOffset ()
</script>
{% endblock %}
