{% extends "base.html" %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <p class="h2"><a href="{{ url_for('timesheet.index') }}" class="text-blue">Return timesheet</a></p>
    <p><a class="h1 text-green" href="{{ url_for('timesheet.timelog_finished') }}">Time Logs</a> <a class="h3 text-orange" href="{{ url_for('timesheet.timelog_stat') }}">Statistics</a></p>
    {% if result_mode %}
    <p class="f3 text-bold">Period</p>
    <button class="btn" type="button" id="result-btn" onclick="showResult()">show whole period</button>
    <button class="btn" type="button" id="result-by-day-btn" onclick="showResultByDay()">show result by day</button>
    <p class="f4">{{form_stat_timelog.stat_start.data}}~{{form_stat_timelog.stat_end.data}}</p>
    <table id="result">
      <tr>
        <td class="f3 text-bold pr-3">Project</td>
        <td class="f3 text-bold pr-3">Duration</td>
        <td class="f3 text-bold pr-3">Percent</td>
      </tr>
      {% for timelog in result.itertuples() %}
      <tr>
        <td class="f3 pr-3">
          <!-- timelog here is a tuple, need use "[]" to select but not "." -->
          <a class="link-gray-dark" href="{{ url_for('timesheet.timelog_finished', project=timelog.project) }}">{{ timelog['project'] }}</a>
        </td>
        <td class="f4 pr-3">
          {{ timelog['seconds']//3600 }}h {{ timelog['seconds']//60%60 }}m
        </td>
        <td class="f4 pr-3">
          {{ timelog['seconds_percent']}}%
        </td>
      </tr>
      {% endfor %}
    </table>
    <table id="result-by-day" hidden>
      <tr>
        <td class="f3 text-bold pr-3">Date</td>
        <td class="f3 text-bold pr-3">Project</td>
        <td class="f3 text-bold pr-3">Duration</td>
        <td class="f3 text-bold pr-3">Percent</td>
      </tr>
      {% for timelog in result_by_day.itertuples() %}
      <tr>
        <td class="f3 pr-3">
          {{ timelog['date'] }}
        </td>
        <td class="f3 pr-3">
          <!-- timelog here is a tuple, need use "[]" to select but not "." -->
          <a class="link-gray-dark" href="{{ url_for('timesheet.timelog_finished', project=timelog.project) }}">{{ timelog['project'] }}</a>
        </td>
        <td class="f4 pr-3">
          {{ timelog['seconds']//3600 }}h {{ timelog['seconds']//60%60 }}m
        </td>
        <td class="f4 pr-3">
          {{ timelog['seconds_percent']}}%
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <form class="mt-3" method="post">
      <fieldset>
        <legend hidden>Add timelog</legend>
        {{ form_stat_timelog.hidden_tag() }}
        <div>
          <div>
            {{ form_stat_timelog.project_stat.label() }} (use ctrl/cmd to select multiple projects, select all to select all)
          </div>
          <div class="mb-3 mr-6">
            {{ form_stat_timelog.project_stat(class="form-select input-lg", size=num_project, ) }}
          </div>
        </div>
        <div>
          <div>
            {{ form_stat_timelog.stat_start.label() }}
          </div>
          <div class="mb-3 mr-6">
            {{ form_stat_timelog.stat_start(class="form-control", size="18") }}
          </div>
        </div>
        <div>
          <div>
            {{ form_stat_timelog.stat_end.label() }}
          </div>
          <div class="mb-3 mr-6">
            {{ form_stat_timelog.stat_end(class="form-control", size="18") }}
          </div>
        </div>
        {{ form_stat_timelog.utc_offset(type="hidden") }}
        {{ form_stat_timelog.submit_stat(class="btn") }}
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function setDefaultTime () {
  document.getElementById("stat_start").value = moment().format("Y-MM-DD");
  document.getElementById("stat_end").value = moment().format("Y-MM-DD");
}

function setUtcOffset () {
  document.getElementById("utc_offset").value = moment().utcOffset();
}

function showResultByDay () {
  document.getElementById("result-by-day").removeAttribute("hidden");
  document.getElementById("result").hidden = "hidden";
}

function showResult () {
  document.getElementById("result-by-day").hidden = "hidden";
  document.getElementById("result").removeAttribute("hidden");
}

{% if not result_mode %}
setDefaultTime ()
{% endif %}

setUtcOffset ()
</script>
{% endblock %}