{% extends "base.html" %}
{% block content %}
<div class="container-lg mb-3 pb-6">
  <div class="mt-6 ml-6 mr-6 mb-6">
    <div class="clearfix pb-8">
      <div class="col-6 float-left pl-2 pr-6">
        <a class="d-block box-shadow-large px-3 pt-8 pb-8 position-relative rounded-1 overflow-hidden no-underline bg-blue-light" href="https://translate.google.com/#view=home&op=translate&sl=en&tl=zh-CN" target="blank">
          <h1 class="text-gray-dark">Google Translate</h1>
          <h1 class="text-gray-dark">English to Chinese</h1>
        </a>
      </div>
      <div class="col-6 float-left pl-6 pr-2">
        <a class="d-block box-shadow-large px-3 pt-8 pb-8 position-relative rounded-1 overflow-hidden no-underline bg-red-light" href="https://translate.google.com/#view=home&op=translate&sl=zh-CN&tl=en" target="blank">
          <h1 class="text-gray-dark">Google Translate</h1>
          <h1 class="text-gray-dark">Chinese to English</h1>
        </a>
      </div>
    </div>
    <div class="clearfix pb-8">
      <div class="col-6 float-left pl-2 pr-6">
        <a class="d-block box-shadow-large px-3 pt-8 pb-8 position-relative rounded-1 overflow-hidden no-underline bg-yellow-light" href="https://translate.google.com/#view=home&op=translate&sl=no&tl=zh-CN" target="blank">
          <h1 class="text-gray-dark">Google Translate</h1>
          <h1 class="text-gray-dark">Norweigain to Chinese</h1>
        </a>
      </div>
      <div class="col-6 float-left pl-6 pr-2">
        <a class="d-block box-shadow-large px-3 pt-8 pb-8 position-relative rounded-1 overflow-hidden no-underline bg-green-light" href="https://translate.google.com/#view=home&op=translate&sl=zh-CN&tl=no" target="blank">
          <h1 class="text-gray-dark">Google Translate</h1>
          <h1 class="text-gray-dark">Chinese to Norweigain</h1>
        </a>
      </div>
    </div>
    <div class="clearfix pb-8">
      <div class="col-6 float-left pl-2 pr-6">
        <a class="d-block box-shadow-large px-3 pt-8 pb-8 position-relative rounded-1 overflow-hidden no-underline bg-gray" href="https://translate.google.com/#view=home&op=translate&sl=en&tl=no" target="blank">
          <h1 class="text-gray-dark">Google Translate</h1>
          <h1 class="text-gray-dark">English to Norweigain</h1>
        </a>
      </div>
      <div class="col-6 float-left pl-6 pr-2">
        <a class="d-block box-shadow-large px-3 pt-8 pb-8 position-relative rounded-1 overflow-hidden no-underline bg-purple-light" href="https://translate.google.com/#view=home&op=translate&sl=no&tl=en" target="blank">
          <h1 class="text-gray-dark">Google Translate</h1>
          <h1 class="text-gray-dark">Norweigain to English</h1>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}