{% macro pagination_widget(pagination, endpoint, fragment='') %}
<div class="pagination">
  <a class="previous_page" {% if pagination.has_prev %}href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"{% else %}aria-disabled="true"{% endif %}>
    Previous
  </a>
  {% for p in pagination.iter_pages() %}
    {% if p %}
      {% if p == pagination.page %}
        <a href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
      {% else %}
        <a href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
      {% endif %}
    {% else %}
      <span class="gap">…</span>
    {% endif %}
  {% endfor %}
  <a class="next_page" {% if pagination.has_next %}href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"{% else %}aria-disabled="true"{% endif %}>
    Next
  </a>
</div>
{% endmacro %}

{% macro pagination_widget_sametag(pagination, endpoint, tag, fragment='') %}
<div class="pagination">
  <a class="previous_page" {% if pagination.has_prev %}href="{% if pagination.has_prev %}{{ url_for(endpoint, tag=tag, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"{% else %}aria-disabled="true"{% endif %}>
    Previous
  </a>
  {% for p in pagination.iter_pages() %}
    {% if p %}
      {% if p == pagination.page %}
        <a href="{{ url_for(endpoint, tag=tag, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
      {% else %}
        <a href="{{ url_for(endpoint, tag=tag, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
      {% endif %}
    {% else %}
      <span class="gap">…</span>
    {% endif %}
  {% endfor %}
  <a class="next_page" {% if pagination.has_next %}href="{% if pagination.has_next %}{{ url_for(endpoint, tag=tag, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"{% else %}aria-disabled="true"{% endif %}>
    Next
  </a>
</div>
{% endmacro %}

{% macro pagination_widget_sameauthor(pagination, endpoint, author_id, fragment='') %}
<div class="pagination">
  <a class="previous_page" {% if pagination.has_prev %}href="{% if pagination.has_prev %}{{ url_for(endpoint, author_id=author_id, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"{% else %}aria-disabled="true"{% endif %}>
    Previous
  </a>
  {% for p in pagination.iter_pages() %}
    {% if p %}
      {% if p == pagination.page %}
        <a href="{{ url_for(endpoint, author_id=author_id, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
      {% else %}
        <a href="{{ url_for(endpoint, author_id=author_id, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
      {% endif %}
    {% else %}
      <span class="gap">…</span>
    {% endif %}
  {% endfor %}
  <a class="next_page" {% if pagination.has_next %}href="{% if pagination.has_next %}{{ url_for(endpoint, author_id=author_id, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}"{% else %}aria-disabled="true"{% endif %}>
    Next
  </a>
</div>
{% endmacro %}