{% extends "base.html" %}
{% block content %}

<div class="d-flex flex-rows container-lg mb-3 pb-6">
  <div class="col-12">
    <div class="mt-6 ml-6 mr-2">
        {% block contentcore %}{% endblock contentcore %}
    </div>
  </div>
  <div class="col-4">
    <div class="mt-6 ml-2 mr-6">
      <div class="ml-2 mt-2">
        <p class="f4 mb-2 text-bold">Qingqi</p>
        <p class="f4 mb-2"><a href="{{ url_for('Blog.read', id=75) }}">About</a></p>
        <div class="mb-2 f4">
          <a href="https://github.com/nightttt7" target="_blank">Github</a>
        </div>
        <div class="mb-2 f4">
          <a href="https://www.linkedin.com/in/shiqingqi" target="_blank">LinkedIn</a>
        </div>
        <p class="f4 mb-2 text-bold">Lian</p>
        <p class="f4 mb-2"><a href="{{ url_for('Blog.read', id=76) }}">About</a></p>
        <div class="mb-2 f4">
          <a href="https://www.linkedin.com/in/lian-zhang-59b8081b5/" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}