{% extends "base0.html" %}

{% block title %}Nightttt7's Blog{% endblock %}

{% block metas %}{{ super() }}
<meta name="keywords" content="Blog" />
<meta name="description" content="Nightttt7's Blog" />
{% endblock %}

{% block styles %}
<link href="{{ url_for('static',filename='primer.css') }}" rel="stylesheet" />  
{% endblock %}

{% block bodyclass %}

{% endblock bodyclass %}

{% block navbar %}
<div class="Header">
  <div class="Header-item Header-item--full">
    <div class="Header-item">
      <a href="{{ url_for('main.index') }}" class="Header-link">Nightttt7's Blog</a>
    </div>
    <div class="Header-item">
      <a href="#" class="Header-link">Timesheet</a>
    </div>
  </div>
  {% if current_user.is_authenticated %}
  <div class="Header-item">
    <a href="#" class="Header-link">{{ current_user.email }}</a>
  </div>
  {% endif %}
  {% if current_user.is_administrator() %}
  <div class="Header-item">
    <a href="#" class="Header-link">manage</a>
  </div>
  {% endif %}

  {% if current_user.is_authenticated %}
  <div class="Header-item">
    <a href="{{ url_for('auth.logout') }}" class="Header-link">log out</a>
  </div>
  {% else %}
  <div class="Header-item">
    <a href="{{ url_for('auth.login') }}" class="Header-link">log in</a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
<div class="footer">
  <p class="text-center"> © 2020 nightttt7. Powered by <a href="https://palletsprojects.com/p/flask/">Flask</a> & <a href="https://primer.style/css/">Primer CSS</a> </p>
</div>
{% endblock %}
