{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <p class="lead"><a href="{{ url_for('CV.index') }}">CV</a></p>
    <p class="lead">
    {% if current_user.can(1) %}
    <a href="{{ url_for('Blog.post') }}">Post Blog</a>
    {% endif %}
    </p>
    <hr class="my-4">
    {% for post in posts %}
    <p>
      <a href="{{ url_for('Blog.read', id=post.id) }}">{{ post.title }}</a> 
      by {{ post.author.username }}
      {% if current_user == post.author %}
      <a href="{{ url_for('Blog.edit', id=post.id) }}">edit</a>
      {% endif %}
    </p>
    {% endfor %}
    <hr class="my-4">
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
    </div>
  </div>
</div>

{% endblock %}