{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="jumbotron" style="height: 300px;">
            <h1>dicts</h1>
            <p>在线字典<br>大集合</p>
            <p><a href="{{ url_for('dicts.index') }}" class="btn btn-default">GO!</a></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="jumbotron" style="height: 300px;">
            <h1>study</h1>
            <p>货真价实学习资料<br>雅思 GMAT...</p>
            <p><a href="#" class="btn btn-default">GO!</a></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="jumbotron" style="height: 300px;">
            <h1>share</h1>
            <p>图片&emsp;文字<br>音乐</p>
            <p><a href="#" class="btn btn-default">GO!</a></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="jumbotron" style="height: 300px;">
            <h1>chop</h1>
            <p>计分板<br>简单好用游戏筹码<br></p>
            <p><a href="#" class="btn btn-default">GO!</a></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}