{% extends "baseindex.html" %}
{% import "_macros.html" as macros %}
{% block contentcore %}

<h1 class="mb-3 h1">Author: {{author.username}}</h1>
<div class="ml-4">
  {% for post in posts %}
  <div class="d-inline">
    <div class="d-inline-block mr-2">
      <a href="{{ url_for('Blog.read', id=post.id) }}" class="link-gray-dark f2">{{ post.title }}</a>
    </div>
    {% if current_user == post.author %}
    <div class="d-inline-block mr-2">
      <a href="{{ url_for('Blog.edit', id=post.id) }}">
        {% include 'svgs/_svg_pencil.html' %}
      </a>
    </div>
    {% endif %}
    {% if current_user.is_administrator() or current_user == post.author %}
    <div class="d-inline-block">
      <a href="{{ url_for('Blog.delete', id=post.id) }}">
        {% include 'svgs/_svg_trashcan.html' %}
      </a>
    </div>
    {% endif %}
    <div>
      <p class="f5">
        <a href="{{ url_for('main.sameauthor', author_id=post.author_id) }}" class="text-blue text-bold f5">{{ post.author.username }}</a>@{{ post.timestamp.strftime("%Y-%m-%d")}}
        <a href="{{ url_for('main.sametag', tag=post.tag) }}" class="link-gray-dark f5">#{{ post.tag }}</a></p>
    </div>
  </div>
  {% endfor %}
  <nav class="paginate-container">
    {{ macros.pagination_widget_sameauthor(pagination, 'main.sameauthor', author_id=author.id) }}
  </nav>
</div>
{% endblock %}